header {
  height: 250px;
  background-color: black;
  border: solid 3px black;
  text-align: center;
}

.header button {
  height: 40px;
  width: 150px;
  background-color: #ee171f;
  color: white;
  margin-left: 15px;
  border-radius: 5px;
}

header img {
  margin-top: 15px;
  display: flex;
  margin-left: 15px;
  margin-bottom: 50px;
  height: 130px;
  margin-top: 15px;
}

.header-input {
  height: 30px;
  width: 150px;
  background-color: #ee171f;
  color: white;
  margin-left: 15px;
  border-radius: 5px;
}

.characters-content {
  display: flex;

  height: 650px;
  width: 450px;
}

.comics {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 850px;
  width: 450px;
}

.comics img {
  border-radius: 5px;
}

.comics p {
  text-align: justify;
  margin: 5px 5px 5px 15px;
}

.comics-content {
  display: flex;
  justify-content: center;
}

.characters-content {
  display: flex;
}

.characters-content img {
  border-radius: 5px;
}
